### Conexión a base de datos en Postgresql

In [1]:
#Se instalan e importan las librerias a trabajar:

#!pip install psycopg2
#!pip install sqlalchemy
#!pip install openpyxl

import pandas as pd
from sqlalchemy import create_engine, text
import psycopg2

In [2]:
#Se definen parametros:

hostname= 'localhost'
databases= 'Conexion_Actividad5'
username= 'postgres'
pwd= 'PJcp88'
port_id= '5432'

In [3]:
# Se crea la conexión con Postgresql:

engine = create_engine("postgresql://postgres:PJcp88@localhost:5432/Conexion_Actividad5")
ruta_archivos = r"C:\Users\plini\Bootcamp_DataScience\Actividad5_PlinioCorrea\DataSet.xlsx"
df = pd.read_excel(ruta_archivos)
df.to_sql('DatosClientes', engine, if_exists='replace', index=False)

def runQuery(sql):
    result = engine.connect().execute(text(sql))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

### Consultas para resolución de preguntas

In [4]:
#¿Cuál es la cantidad de hombres y mujeres dentro de la base?

query1 = '''SELECT "DatosClientes"."Gender", COUNT(*) AS Cantidad, ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (), 2) AS Porcentaje FROM "DatosClientes" GROUP BY "DatosClientes"."Gender";'''
runQuery(query1)

  Gender  cantidad porcentaje
0      M      4769      47.09
1      F      5358      52.91

In [5]:
#¿Cuál es el promedio de transacciones que se generán según el rango de ingresos?

query2 ='''SELECT "DatosClientes"."Income_Category", ROUND(AVG("DatosClientes"."Total_Trans_Ct"),2) AS Promedio_transacciones FROM "DatosClientes" GROUP BY "DatosClientes"."Income_Category";'''
runQuery(query2)

  Income_Category promedio_transacciones
0         Unknown                  66.25
1     $60K - $80K                  63.25
2    $80K - $120K                  62.70
3  Less than $40K                  66.15
4         $120K +                  63.70
5     $40K - $60K                  65.00